p {
  text-align: center;
  font-size: 45px;
  font-family: verdana;
  color: rgb(74, 39, 37);
}

html {
    zoom: 0.8;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}
